<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maxapps.audiotest" version="0.1.5">
  <name>AudioTest</name>
  <description>
    Testing audio plugin
  </description>
  <author email="maxapps@gmail.com">
    Jeff Carver
  </author>
  <plugin name="cordova-plugin-media" version="2.4.0" />
</widget>
